@model DBModel.Cases
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Updatelmgl</title>
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="~/utf8-net/ueditor.config.js"></script>
    <script src="~/utf8-net/ueditor.all.min.js"></script>
    <script src="~/utf8-net/lang/zh-cn/zh-cn.js"></script>
    <link href="~/utf8-net/themes/iframe.css" rel="stylesheet" />
</head>
<body>
    <div class="lmgl-main">
        @using (Html.BeginForm("Cases_Edit", "Admin", new { }, FormMethod.Post))
        {
            <table>
                <tr>
                    <th colspan="2">当前位置：后台管理>栏目管理><font color="red">@ViewBag.opera</font></th>
                </tr>
                <tr>
                    <td><u>名称</u></td>
                    <td>
                        @Html.HiddenFor(a => a.Id)
                        @Html.TextBoxFor(a => a.Title)
                        @Html.CheckBoxFor(a => a.IsHide)
                        隐藏
                        @Html.CheckBoxFor(a => a.IsIndex)
                        首页显示
                    </td>
                </tr>
                <tr>
                    <td><u>父类</u></td>
                    <td>@Html.DropDownList("pid")</td>
                </tr>
                <tr>
                    <td><u>排序</u></td>
                    <td>@Html.TextBoxFor(a => a.Sort)</td>
                </tr>
                <tr>
                    <td><u>市场价</u></td>
                    <td>@Html.TextBoxFor(a => a.Market)</td>
                </tr>
                <tr>
                    <td><u>最终价格</u></td>
                    <td>@Html.TextBoxFor(a => a.Pirce)</td>
                </tr>
                <tr>
                    <td><u>链接地址</u></td>
                    <td>@Html.TextBoxFor(a => a.LinkUrl)</td>
                </tr>
                <tr>
                    <td><u>所示图片</u></td>
                    <td>
                        <img src="/Content/UpFile/Images/@Model.Picure" style="position:absolute;top:80px;right:100px;width:200px;height:150px;" id="img1" />
                        <iframe src="/Admin/UpFile" style="width:350px;height:35px;" frameborder="0" scrolling="yes"></iframe>
                        <input type="hidden" name="Picture" id="img2" />
                    </td>
                </tr>
                <tr>
                    <td><u>日期</u></td>
                    <td>@Html.TextBoxFor(m => m.Cdate, "", new { @class = "Wdate", width = "100px", onclick = "WdatePicker()" })</td>
                </tr>
                <tr>
                    <td><u>内容</u></td>
                    <td><textarea id="content" name="content" style="width:800px; height:350px;">@Model.Content</textarea></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <input type="submit" />
                        <input type="reset" />
                    </td>
                </tr>
            </table>
        }
    </div>

</body>
</html>
