@model  List<DBModel.product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lmgl</title>
    <link href="~/Content/Admin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/admin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Admin/js/index.js"></script>
</head>
<body style="width:97.5%;">

    <div class="dyj_grzx">
        <div class="grzx_top">
            <h1>栏目管理</h1>
            <h3 style="right:0"><a style="float:right;right:0;" href="/Admin/Product_Edit">添加栏目</a></h3>
        </div>
        <div class="grzx_main">
            <div style="overflow:auto;">
                <table border="0" cellspacing="0">
                    <tr>
                        <td>ID</td>
                        <td>产品名称</td>
                        <td>父级名称</td>
                        <td>排序</td>
                        <td>是否隐藏</td>
                        <td>首页显示</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.ID</td>
                                <td>@m.title</td>
                                <td>@vt.Models.help.fj(m.Pid)</td>
                                <td>@m.sort</td>
                                <td>
                                    @if (m.isHide)
                                    {
                                        <a style="color:green" href="/Admin/UpdatProHide?ishide=@m.isHide.ToString()&id=@m.ID" onclick="return confirm('是否显示？')">是</a>
                                    }
                                    else
                                    {
                                        <a style="color:red" href="/Admin/UpdatProHide?ishide=@m.isHide.ToString()&id=@m.ID" onclick="return confirm('是否隐藏？')">否</a>
                                    }
                                </td>
                                <td>
                                    @if (m.Isindex)
                                    {
                                        <a style="color:green" href="/Admin/UpIsindex?Isindex=@m.Isindex.ToString()&id=@m.ID&name=product" onclick="return confirm('是否首页显示？')">是</a>
                                    }
                                    else
                                    {
                                        <a style="color:red" href="/Admin/UpIsindex?Isindex=@m.Isindex.ToString()&id=@m.ID&name=product" onclick="return confirm('是否首页隐藏？')">否</a>
                                    }
                                </td>
                                <td>@m.CDate</td>
                                <td>
                                    <a href="/Admin/Product_Edit?id=@m.ID" onclick="return confirm('是否编辑？')" class="fa fa-pencil" title="编辑"></a>
                                    <a href="/Admin/Product_Delete?id=@m.ID" onclick="return confirm('是否删除？')" class="fa fa-trash-o" title="删除"></a>
                                </td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
    </div>
</body>

</html>
