@model  List<DBModel.product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lmgl</title>
    <link href="~/Content/Admin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/admin.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/admin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Admin/js/index.js"></script>
</head>
<body style="width:97.5%;">

    <div class="dyj_grzx">
        <div class="grzx_top">
            <h1>产品管理</h1>
        </div>
        <div class="grzx_main">
            <ul class="main_ul">
                <li><input type="button" value="全选" class="qx" /></li>
                <li><input type="button" value="反选" class="fx" /></li>
                <li><input type="button" value="清除" class="qc" /></li>
                <li><input type="button" value="批量删除" class="contentdelete" /></li>
                <li><a class="tj" href="/Admin/Product_Edit" style="margin-left: 10px">添加产品</a></li>
            </ul>
            <div class="grzx_top ss_top">
                <form action="/Admin/Product" method="post" style="display:inline-block">
                    <input class="ss" type="text" placeholder="产品名称查询" value="@Request["where"]" name="where" />
                    <button><i class="fa fa-search fa-inverse"></i></button>
                </form>
            </div>
            <div style="overflow:auto;clear:both">
                <table border="0" cellspacing="0">
                    <tr>
                        <td><input type="checkbox" id="qx" /></td>
                        <td>ID</td>
                        <td>产品名称</td>
                        <td>父级名称</td>
                        <td>排序</td>
                        <td>是否隐藏</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var m in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="checkbox" value="@m.ID" /></td>
                                <td>@m.ID</td>
                                <td>@m.title</td>
                                <td>@vt.Models.help.fj(m.Pid)</td>
                                <td>@m.sort</td>
                                <td>
                                    @if (m.isHide)
                                    {
                                        <a style="color:green" href="/Admin/UpdatProHide?ishide=@m.isHide.ToString()&id=@m.ID" onclick="return confirm('是否显示？')">是</a>
                                    }
                                    else
                                    {
                                        <a style="color:red" href="/Admin/UpdatProHide?ishide=@m.isHide.ToString()&id=@m.ID" onclick="return confirm('是否隐藏？')">否</a>
                                    }
                                </td>
                                <td>@m.CDate</td>
                                <td>
                                    <a href="/Admin/Product_Edit?id=@m.ID" onclick="return confirm('是否编辑？')" class="fa fa-pencil" title="编辑"></a>
                                    <a href="/Admin/Product_Delete?id=@m.ID" onclick="return confirm('是否删除？')" class="fa fa-trash-o" title="删除"></a>
                                </td>
                            </tr>
                        }

                    }
                </table>
            </div>
        </div>
    </div>
</body>

</html>
